<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">

    <a style="color: white;" class="navbar-brand" href="#">ZAMZAM
        HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
                <a style="color: white;" class="nav-link active"
                    aria-current="page" href="javascript:void(0);"
                    routerLink="/docdash">Back</a>
            </li>

        </ul>

        <div class="mx-2">

            <button style="margin: 5px;" class="btn btn-danger"
                data-toggle="modal" data-target="#loginModal"><a
                    style="color:white;" href="javascript:void(0);"
                    routerLink="/home">Logout</a></button>

        </div>

    </div>

</nav>

<div class="container">
    <hr>
    <h2 style="text-align: center;margin-top: 20PX;">Update-Patient</h2>
    <a style="color: rgb(86, 86, 86); font-size: x-large;"><marquee
            behavior="scroll" direction="left">
            Welcome to View-Patient. Please find the patient list below!!.
            Click Appointments to view and update Appointments, Click Add
            Appointment to add new Appointment</marquee></a>
    <hr>

    <div class="container">

        <form (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name"
                    placeholder="Enter Name"
                    class="form-control" [(ngModel)]="patient.name">
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" name="age" id="age" placeholder="Enter Age"
                    class="form-control" [(ngModel)]="patient.age">
            </div>

            <div class="form-group">
                <label for="blood">Blood Type</label>
                <input type="text" name="blood" id="blood"
                    placeholder="Enter Blood Type"
                    class="form-control" [(ngModel)]="patient.blood">
            </div>

            <div class="form-group">
                <label for="prescription">Prescription</label>
                <input type="text" name="prescription" id="prescription"
                    placeholder="Enter Prescription"
                    class="form-control" [(ngModel)]="patient.prescription">
            </div>

            <div class="form-group">
                <label for="dose">Dose</label>
                <input type="text" name="dose" id="dose"
                    placeholder="Enter Dose"
                    class="form-control" [(ngModel)]="patient.dose">
            </div>

            <div class="form-group">
                <label for="fees">Fees</label>
                <input type="text" name="fees" id="fees"
                    placeholder="Enter Fees"
                    class="form-control" [(ngModel)]="patient.fees">
            </div>

            <div class="form-group">
                <label for="urgency">Urgency</label>
                <input type="text" name="urgency" id="urgency"
                    placeholder="Enter Urgency"
                    class="form-control" [(ngModel)]="patient.urgency">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
